@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Montserrat';
}

.animate {
  animation: animateThis infinite 5s;
  transition: transform;
}

.dot-animate:after {
  content: '.';
  animation: animateDot infinite 1s;
  transition: transform;
}

@keyframes animateDot {
  0% {
    content: '.';
  }

  40% {
    content: '. .';
  }

  70% {
    content: '. . .';
  }

  100% {
    content: '.';
  }
}

@keyframes animateThis {
  0% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}
